<div class="container">
  
<h1>comunidades</h1>
<div class="input-group">
  <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search"   [(ngModel)]="comunidad" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary" (click)="buscarComunidad(comunidad)">search</button>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="nomostrar" scope="col">#</th>
      <th scope="col">Nombre</th>
      <th class="nomostrar"scope="col">Codigo Departamento</th>
      <th class="nomostrar"scope="col">Codigo Municipio</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
 
    <tr  *ngFor="let Comunidad of ListarComunidades; let i = index"  >
   
      <th *ngIf="i < 20" class="nomostrar" scope="row">{{Comunidad.codcomunidad}}</th>
      <td *ngIf="i < 20" >{{Comunidad.comunidad}}</td>
      <td *ngIf="i < 20" class="nomostrar">{{Comunidad.coddepto}}</td>
      <td *ngIf="i < 20"  class="nomostrar">{{Comunidad.codmuni}}</td>
      <td *ngIf="i < 20" ><button type="button" (click)="updateComunidad(Comunidad.codcomunidad)"  class="" >Editar</button></td>
      <td *ngIf="i < 20" ><button type="button" (click)="eliminarComunidad(Comunidad.codcomunidad)" class="" disabled>Eliminar</button></td>
    </tr>
  </tbody>
</table>

</div>