<div class="container">
  
    <h1>Busqueda</h1>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="" scope="col">Departamento</th>
          <th scope="col">Municipio</th>
        </tr>
      </thead>
      <tbody>
     
        <tr  *ngFor="let Comunidad of ListarComunidades"  >
       
          <th  class="" scope="row">{{Comunidad.departamento}}</th>
          <td  >{{Comunidad.comunidad}}</td>
        </tr>
      </tbody>
    </table>
    
    </div>