:host {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a.naveg{
    color: #e6ebf1;
    padding: 0 10px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
  }

  a.naveg:hover {
    color: #7E74F1;

   
  }

  .toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1e282e;
    color: white;
    font-weight: 600;
    justify-content: center;


  }

  .input-group{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }


  footer {
    background-color: #1e282e;
    color: white;
    font-size: 16px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: bottom;

  }

  footer a {
   color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  footer p {
    color: #7E74F1;
     text-decoration: none;
     transition: all 0.2s ease-in-out;
   }

  footer a:hover {
    color: #7E74F1;
    text-shadow: #363764 0 0 10px;

  }

  footer p:hover {
    color: white;
    text-shadow: #363764 0 0 10px;

  }



  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .input-group{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
    
    a.naveg{
      font-size: 20px;
    }

 

    footer{
  
      text-align: center;
    }
    footer a {
      display: none;

    }

/*cambiar nombre del boton*/

  
   
   
   
  }

  @media screen and (max-width: 575px) {
    footer a {
      display: none;

    }
    footer p {
      font-size: 12px;


    }

    footer{
  
      text-align: center;
    }

    
   
 /*mover a. naveg hacia la izquierda*/
   


  }