<!-- Toolbar -->
<div class="toolbar" role="banner">
  <!-- Agrega inicio y opciones -->

  <div class="opciones">
    <a class="naveg" routerLink="/home">Inicio</a>
    <a class="naveg" routerLink="/agree">Agregar</a>
    
    
  </div>

</div>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="footer" role="contentinfo">
  <div class="social">
    <a class="menu" href="https://www.instagram.com/arauzb_/" target="_blank" rel="noopener"> <i
        class="fa-brands fa-instagram"></i></a>
    <a class="menu" href="https://github.com/ArauzB" target="_blank" rel="noopener"> <i
        class="fa-brands fa-github"></i></a>
    <a class="menu" href="https://twitter.com/ArauzB18" target="_blank" rel="noopener"> <i
        class="fa-brands fa-twitter"></i></a>
    <a class="menu" href="https://www.linkedin.com/in/angel-barrios-arauz/" target="_blank" rel="noopener"> <i
        class="fa-brands fa-linkedin"></i></a>
  </div>
  <p> © 2022 Angel Barrios Arauz. Todos los derechos reservados.</p>

</footer>