<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
<div class="body">
<div class="container">
    
  <div class="row">
    <div class="col-md-4" >
      <div class="card card-1">
        <h3>Distrito = ID</h3>
        <div class="input-group">
            <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search"  (keydown.Enter)="comudepto()"  aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" (click)="comudepto()" >search</button>
          </div>
      </div>
    </div>

    <div class="col-md-4" >
      <div class="card card-2">
        <h3>Distrito != ID</h3>
        <div class="input-group">
            <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search"  (keydown.Enter)="comudepto()"  aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" (click)="comudepto()" >search</button>
          </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="card card-3">
        <h3>Comunidades Y Departamentos</h3>
        <div class="input-group">
            <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search"  (keydown.Enter)="comudepto()"  aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" (click)="comudepto()" >search</button>
          </div>
      </div>
    </div>

    <div class="col-md-4" >
        <div class="card card-4">
          <h3>Comunidades Y Distrito</h3>
          <div class="input-group">
            <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search"  (keydown.Enter)="comudepto()"  aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-primary" (click)="comudepto()" >search</button>
          </div>
        </div>
      </div>

      <div class="col-md-4" (click)="setTimeout()" >
        <div class="card card-5">
          <h3>Mi Portafolio</h3>
          <p>https://arauzb.xyz/</p>
        </div>
      </div>

  </div>
</div>
</div>